

{% assign assets_url = "/assets/" | relative_url %}
<hy-push-state
  id="_pushState"
  replace-selector="#_main"
  link-selector="a[href]:not([href^='{{ assets_url }}']):not(.external):not(.no-push-state)"
  script-selector="script"
  duration="500"
  hashchange
>
  <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fyuiloong.github.io&count_bg=%234AAFE1&title_bg=%23F58E57&icon=pinboard.svg&icon_color=%23A60707&title=%EB%B0%A9%EB%AC%B8%EC%9E%90+%EC%88%98+Today+%2F+Total&edge_flat=false"/></a>
  
  {% capture sidebar %}{% include_cached body/sidebar.html cover=page.cover invert=page.invert_sidebar theme_color=page.theme_color image=image color=color %}{% endcapture %}
  {% if page.cover %}{{ sidebar }}{% endif %}
  {% include_cached body/menu.html %}
  {% include body/main.html %}
  {% unless page.cover %}{{ sidebar }}{% endunless %}
</hy-push-state>

{% unless page.redirect %}
  {% include_cached body/scripts.html %}
  {% include my-body.html %}
{% endunless %}

{% include_cached templates/index.html %}
